div {
  margin: 15px;
}
::ng-deep .mat-form-field-infix{
  text-align: center;
  border-top: 0px;
}
input{
  text-align: left;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .mat-select-value{
  color: #080710;
  padding-top: 5px;
  text-align: center;
}

::ng-deep .mat-label{
  color: #080710;
}
