.mat-card-image:first-child{
  margin-top: 0px;
}

img{
  width: 50%;
  length: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

a{
  text-decoration: none;
  color: inherit;
}

.article{
  display: block;
  box-sizing: border-box;
}
.title{
  width: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-bottom: 10px;
}

.picture{
  width: 50%;
  float: left;
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  height: 410px;
}
.information{
  width: 50%;
  float: right;
  position: relative;
  padding-top: 10px;
  height: 410px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;

}

mat-card{
  z-index: 2;
}
.footer{
  position:relative;
  z-index: 1;
}

@media screen and (min-height:800px){
  .footer{
    position: fixed;
    bottom:0;
    width:100%;
  }

}
