<div>
  <div id ="ScrollButton">
    <button mat-raised-button (click)="drawer.toggle()">Open Filters</button>
  </div>
  <app-header class="header"></app-header>
  <mat-drawer-container>
    <mat-drawer #drawer mode="side">
      <mat-card-title>Filters:</mat-card-title>
      <mat-card-subtitle>Max Price</mat-card-subtitle>
      <input matInput type="number">
      <mat-card-subtitle>Brand</mat-card-subtitle>
      <input matInput type="string">
      <mat-card-subtitle>Category</mat-card-subtitle>
      <input matInput type="string">
      <mat-card-subtitle>Rating</mat-card-subtitle>
      <input matInput type="number">
    </mat-drawer>
    <mat-drawer-content>
      <div>
        <app-product-list></app-product-list>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
