<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Main categories">
    <mat-grid-list cols="5" rowHeight="400px" gutterSize="15px">
      <mat-grid-tile *ngFor="let c of mainCatList" >
        <mat-card style="margin: 20px;text-align: center" >
          <mat-card>Name: {{c.name}}</mat-card>
          <mat-card>Id: {{c.mainCategoryID}}</mat-card>
          <button routerLink="/category/MainCat/{{c.mainCategoryID}}"> Edit category </button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Sub categories">
    <mat-grid-list cols="5" rowHeight="400px" gutterSize="15px">
      <mat-grid-tile *ngFor="let c of subCatList" >
        <mat-card style="margin: 20px;text-align: center">
          <mat-card>Name: {{c.name}}</mat-card>
          <mat-card>Id: {{c.subCategoryID}}</mat-card>
          <button routerLink="/category/SubCat/{{c.subCategoryID}}"> Edit category </button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Brands">
    <mat-grid-list cols="5" rowHeight="400px" gutterSize="15px">
      <mat-grid-tile *ngFor="let c of brandCatList" >
        <mat-card style="margin: 20px;text-align: center"  >
          <mat-card-title>Name: {{c.name}}</mat-card-title>
          <mat-card>Id: {{c.id}}</mat-card>
         <button routerLink="/category/Brand/{{c.id}}"> Edit category </button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
