<div>
  <app-header></app-header>
  <mat-tab-group>
    <mat-tab label="Products">
      <h2>Create and delete products</h2>
      <app-product-creation></app-product-creation>
       <hr>
      <h2>Product list</h2>
      <app-product-list></app-product-list>
    </mat-tab>
    <mat-tab label="Specifications">
      <h2>Create and delete specifications</h2>
      <app-specification-creation></app-specification-creation>
      <hr>
      <app-specification-list></app-specification-list>
    </mat-tab>
  </mat-tab-group>
</div>


