<mat-card style="margin: 20px;text-align: center" *ngFor="let p of product">
  <mat-card-title>Name: {{p.name}}</mat-card-title>
  <mat-card  *ngIf="router.url === '/admin'">Edit product</mat-card>
  <mat-card  *ngIf="router.url === '/admin'">THIS IS ADMIN</mat-card>
  <mat-card  *ngIf="router.url === '/admin'">THIS IS ADMIN</mat-card>
  <mat-card  *ngIf="router.url === '/admin'">THIS IS ADMIN</mat-card>
  <img mat-card-image src="{{p.imageUrl}}" alt="Image error">
  <mat-card-subtitle>Price: {{p.price}}</mat-card-subtitle>
</mat-card>
