html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #e7e0cf;
}

*{ overflow: visible !important; }

app-header{
  background-color: khaki;
}
