<div>
  <app-header></app-header>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Products">
      <h1>Create and delete products</h1>
      <app-product-creation></app-product-creation>
       <hr>
      <app-product-list></app-product-list>
    </mat-tab>
    <mat-tab label="Specifications">
      <h1>Create and delete specifications</h1>
      <app-specification-creation></app-specification-creation>
      <hr>
      <app-specification-list></app-specification-list>
    </mat-tab>
    <mat-tab label="Categories">
      <h1>Create and delete categories</h1>
      <app-category-creation (change)="onChange($event)"></app-category-creation>
      <hr>
      <app-category-list #child></app-category-list>
    </mat-tab>
  </mat-tab-group>
</div>


