<app-header></app-header>
<div id ="ScrollButton">
  <button mat-raised-button (click)="placeOrder(order);sendOrderMail(order)">Order</button>
</div>
<mat-grid-list cols="3" rowHeight="400px" gutterSize="15px">
  <mat-grid-tile *ngFor="let o of orderList">
    <mat-card>
      <mat-card-header>
  <mat-card-title>{{ o.productName }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
  <img mat-card-image src="{{o.productImage}}" alt="Image error">
      <mat-card-subtitle>Product ID:{{ o.productId}}</mat-card-subtitle>
  <mat-card-subtitle>{{ o.price}} dkk</mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions>
      <button mat-raised-button (click)="deleteOrderByID(o.userId, o.productId)">Remove from cart</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
