::ng-deep .mat-tab-label{
  color: black;
  font-weight: bold;
}
::ng-deep .mat-tab-group{
  width: 100%;
}
h1{
  margin: 20px;
  text-align: center;
}

mat-expansion-panel{
  margin: 5px;
}

.wrapper{
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  overflow: scroll !important;
}
