body {
  padding: 0;
}

mat-sidenav-container{
  height: calc(205vh - 115vh);
}

mat-sidenav{
  width: 200px;
  background-color: antiquewhite;

}

::ng-deep .mat-card:not([class*=mat-elevation-z]){
  box-shadow: none;
}

::ng-deep .mat-raised-button{
  background-color: #a881af !important;
}

